[submodule "ScrapEngine/vendor/spdlog"]
	path = ScrapEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "ScrapEngine/vendor/GLFW"]
	path = ScrapEngine/vendor/GLFW
	url = https://github.com/TheCherno/glfw
